/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
build-perf.json
composer.lock # Opsional, tapi umumnya disertakan

# Directories created by the OS
.DS_Store
Thumbs.db

# Laravel Specific
/bootstrap/cache/*.php
/public/build
/public/css/*.map # Map files dari kompilasi CSS
/public/js/*.map   # Map files dari kompilasi JS

# Filament/Livewire Specifics
# Ini menangani cache dan file sementara Livewire dan Filament
/storage/app/livewire-temp
/public/livewire-sitemap.xml

# VITE/Tailwind Specifics
# File konfigurasi yang mungkin tidak perlu dibagikan
vite.config.js.timestamp-*
